body {
background-color: #e20161;
margin: 0px;
overflow: hidden;
}
a {
}
.linkAlt {
	color: white;
	size: 50%;
	position: absolute;
	margin-left: 45px;
	margin-top: -19px;
	display: none;

}
.socialMedia {
	position: fixed;
	margin-left: 17%;
	margin-top: 20px;
	display: none;
	cursor: pointer;
}

#facebook, #twitter, #instagram {
	margin-top: 10px;
	text-align: center;
	height: 25px;
	
}

#facebookC, #twitterC, #instagramC {
	margin-top: 10px;
	text-align: center;
	height: 25px;
	display: none;
	cursor: pointer;
}

.logo {
	margin-left: 25px;
	height: 190px;
	display: none;
	position: fixed;
	cursor: pointer;
}

.logo2 {
	margin-left: 25px;
	height: 190px;
	display: none;
	position: fixed;
	cursor: pointer;
}

.hand {
	margin-top: -180px;
	margin-left: 50%;
    height: 600px;
    display: none;
    background-color: none;
    position: absolute;
    cursor: pointer;
}

.hand2 {
	margin-top: -180px;
	margin-left: 50%;
    height: 600px;
    display: none;
    background-color: none;
    position: absolute;
    cursor: pointer;
}

.Line {
	margin-left: 35px;
	margin-top: 150px;
	color: white;
	position: fixed;
}

.dates {
	margin-left: 35px;
	margin-top: 200px;
	color: white;
	position: absolute;
}

.neonText {
	margin-left: 35px;
	margin-right: 25%;
	text-align: justify;
	margin-top: 1500px;	
	color: white;
	position: absolute;
}

.neon2 {
	margin-top: -40%;
	position: relative;
	cursor: pointer;
}


.text1, .text2, .text3, .line {
display: none;
}

h2 {
	font-family: Impact;

}

h4 {
	margin-top: -15px;
}