body {
background-color: #e20161;
margin: 0px;
overflow: hidden;
}


.falling {
	max-width: 150px;
	margin-top: 450px;
	margin-left: 650px;
	transform: rotate(-30deg);
	float: right;
	position: absolute;
	display: none;
	cursor: pointer;
}
.falling2 {
	max-width: 150px;
	margin-top: 450px;
	margin-left: 650px;
	transform: rotate(-30deg);
	float: right;
	position: absolute;
	display: none;
	cursor: pointer;
}
.falling10 {
	max-width: 150px;
	margin-top: 350px;
	margin-left: 750px;
	transform: rotate(-30deg);
	float: right;
	position: absolute;
	display: none;
	cursor: pointer;
}
.falling12 {
	max-width: 150px;
	margin-top: 350px;
	margin-left: 750px;
	transform: rotate(-30deg);
	float: right;
	position: absolute;
	display: none;
	cursor: pointer;
}
.fallingToolTip {
	color: white;
	font-size: 65%;
	margin-top: 25%;
	float: right;
	position: relative;
	margin-right: 25%;
	display: none;
	text-align: center;
}
.fallingToolTip2 {
	color: white;
	font-size: 65%;
	margin-top: 25%;
	float: right;
	position: relative;
	margin-right: 25%;
	display: none;
	text-align: center;
}
.handToolTip {
	color: white;
	font-size: 65%;
	margin-top: 25%;
	margin-right: 25%;
	float: right;
	position: relative;
	text-align: center;
	display: none;
}

.feather {
	max-height: 75px;
	position: fixed;
	margin-top: -17.5px;
	margin-left: -20px;
	display: none;
	
}

.featherC {
	max-height: 75px;
	margin-top: -17.5px;
	margin-left: -20px;
	position: fixed;
	display: none;
	cursor: pointer;
}
.tagLine {
	color: white;
	position: fixed;
	text-align: left;
	word-wrap: break-word;
	margin-left: 35px;
	margin-top: 180px;
	display: none;
	font-size: 57%;
}
.featherAlt {
	color: white;
	font-size: 75%;
	position: absolute;
	text-align: left;
	word-wrap: break-word;
	margin-left: 35px;
	margin-top: 180px;
	display: none;
	font-size: 57%;
}
.linkAlt {
	color: white;
	position: absolute;
	margin-left: 45px;
	margin-top: -19px;
	display: none;

}
.socialMedia {
	position: fixed;
	margin-left: 225px;
	margin-top: 20px;
	display: none;
	cursor: pointer;
}

#facebook, #twitter, #instagram {
	margin-top: 10%;
	text-align: center;
	max-height:25px;
	
}

#facebookC, #twitterC, #instagramC {
	margin-top: 10%;
	text-align: center;
	display: none;
	cursor: pointer;
	max-height:25px;
}

#facebookCL, #twitterCL, #instagramCL {
	margin-top: -75%;
	display: none;

}

.logo {
	margin-left: 25px;
	display: none;
	position: fixed;
	cursor: pointer;
	max-width:170px;
}

.logo2 {
	margin-left: 25px;
	display: none;
	position: fixed;
	cursor: pointer;
	max-width:170px;
}

.hand {
	margin-top: -15%;
	margin-left: 50%;
	min-width: 35%;
    max-width: 50%;
    display: none;
    background-color: none;
    position: absolute;
    cursor: pointer;
}

.hand2 {
	margin-top: -15%;
	margin-left: 50%;
	min-width: 35%;
    max-width: 50%;
    display: none;
    background-color: none;
    position: absolute;
    cursor: pointer;
}

.line {
	margin-left: 35px;
	margin-top: 150px;
	color: white;
	position: fixed;
}

.dates {
	margin-left: 35px;
	margin-top: 200px;
	color: white;
	position: absolute;
}

#line2 {
	margin-left: 35px;
	color: white;
	position: absolute;
	margin-top: 100%;	
	display: none;
}

.neonText {
	margin-left: 35px;
	margin-right: 25%;
	margin-top: 150%;
	text-align: justify;	
	width: 75%;
	color: white;
	position: absolute;
}

.neon2 {
	margin-top: 190px;
	position: absolute;
	cursor: pointer;
	max-height: 100%;
}

.castCrew {
	margin-left: 35px;
	margin-right: 25%;
	margin-top: 250%;
	text-align: justify;	
	width: 75%;	
	color: white;
	position: absolute;
}

.castCrew2 {
	margin-top: -45%;
	position: absolute;
	cursor: pointer;
	max-height: 100%;
}


.text1, .text2, .text3, .line {
display: none;
}

h2 {
	font-family: Impact;
	
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
}
h4 {
	margin-top: -15px;
	font-family: Verdana, Geneva, sans-serif;
	
}

@media screen and (max-width: 950px) {

body {
overflow: visible;

}
.hand, .hand2, .falling, .falling2, .falling10, .falling12 {

width: 0px;
height: 0px;
}
.fallingToolTip, .handToolTip, .fallingToolTip2 {
font-size: 0%;
}

.neonText {
margin-top: 155%;
max-width: 100%;
}
.line2 {
display: block;
}

.logo, .logo2, .socialMedia, .line, .feather, .tagLine {
position: absolute;
}

#instagramCL, #facebookCL, #twitterCL {
	font-size: 75%;
}