body {
background-color: #e20161;
margin: 0px;
overflow: hidden;
}

.neonLogo {
	max-width: 200px;
	margin-top: 215px;
	margin-left: 35px;
	display: none;
}
#topButton, #teamButton, #topButton2 {
	font-size: 150%;
	cursor: pointer;
	position: absolute;
}
#writer {
	color: white;
	margin-top: -30px;
	margin-left: 250px;
	font-size: 75%;
	display: none;
}

.falling, .falling2 {
	max-width: 150px;
	margin-top: 450px;
	margin-left: 650px;
	transform: rotate(-30deg);
	float: right;
	position: absolute;
	display: none;
	cursor: pointer;
}
.falling10, .falling12 {
	max-width: 150px;
	margin-top: 360px;
	margin-left: 750px;
	transform: rotate(-30deg);
	float: right;
	position: absolute;
	display: none;
	cursor: pointer;
}
.fallingToolTip, .fallingToolTip2, .handToolTip {
	color: white;
	max-width: 200px;
	font-size: 65%;
	margin-left: 50%;
	margin-top: 25%;
	position: absolute;
	display: none;
	text-align: center;
}

.feather, .featherC {
	max-height: 75px;
	position: fixed;
	margin-top: -17.5px;
	margin-left: -20px;
	display: none;
	
}

.tagLine {
	color: white;
	position: fixed;
	text-align: left;
	word-wrap: break-word;
	margin-left: 35px;
	margin-top: 180px;
	display: none;
	font-size: 57%;
}
.featherAlt {
	color: white;
	position: fixed;
	text-align: left;
	word-wrap: break-word;
	margin-left: 35px;
	margin-top: 180px;
	display: none;
	font-size: 57%;
}
.linkAlt {
	color: white;
	position: absolute;
	margin-left: 45px;
	margin-top: -19px;
	display: none;

}
.socialMedia {
	position: fixed;
	margin-left: 225px;
	margin-top: 20px;
	display: none;
	cursor: pointer;
}

#facebook, #twitter, #instagram {
	margin-top: 10%;
	text-align: center;
	max-height:25px;
	
}

#facebookC, #twitterC, #instagramC {
	margin-top: 10%;
	text-align: center;
	display: none;
	cursor: pointer;
	max-height:25px;
}

#facebookCL, #twitterCL, #instagramCL {
	margin-top: -75%;
	display: none;

}

.logo, .logo2 {
	margin-left: 25px;
	display: none;
	position: fixed;
	cursor: pointer;
	max-width:170px;
}

.hand, .hand2 {
	margin-top: -15%;
	margin-left: 50%;
	min-width: 35%;
    max-width: 50%;
    display: none;
    background-color: none;
    position: absolute;
    cursor: pointer;
}

.line {
	margin-left: 35px;
	margin-top: 150px;
	color: white;
	position: fixed;
}

.dates {
	margin-left: 35px;
	margin-top: -10px;
	color: white;
	position: absolute;
}

.neonText {
	margin-left: 35px;
	margin-right: 25%;
	margin-top: 150%;
	text-align: justify;	
	width: 75%;
	color: white;
	position: absolute;
}

.neon2 {
	margin-top: 190px;
	position: absolute;
	max-height: 100%;
}

.castCrew {
	margin-left: 35px;
	margin-right: 25%;
	margin-top: 250%;
	text-align: justify;	
	width: 75%;	
	color: white;
	position: absolute;
}

.castCrew2 {
	margin-top: -40%;
	position: absolute;
	max-height: 100%;
}


.text1, .text2, .text3, .line {
display: none;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	
}
h3 {
	font-family: Arial, Helvetica, sans-serif
}
h4 {
	margin-top: -15px;
	font-family: Arial, Helvetica, sans-serif
	
}

p {	
font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width: 950px) {

body {
overflow: visible;

}
.hand, .hand2, .falling, .falling2, .falling10, .falling12 {

width: 0px;
height: 0px;
}
.fallingToolTip, .handToolTip, .fallingToolTip2, .neonLogo {
font-size: 0%;
}

.neonText, .castCrew2 {
margin-top: 155%;
max-width: 100%;
}

.logo, .logo2, .socialMedia, .line, .feather, .tagLine, .featherAlt {
position: absolute;
}

#instagramCL, #facebookCL, #twitterCL {
	font-size: 75%;
}